<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<p>
  <strong>Doggo:</strong>
  <%= @comment.doggo %>
</p>

<p>
  <strong>Bark:</strong>
  <%= @comment.bark %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
